* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 800px;
    max-width: 960px;
    align-content: center;
    margin: auto;
}

.header {
    background-color: #1F2937;
    padding: 30px 90px;
    height: 30px;
    display: flex;
    flex: 1 1 auto;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

ul.right-links {
    display: flex;
    flex: 1 1 0;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    font-size: 18px;

}

ul {
    list-style: none;
    gap: 16px
  }

a {
    color: #E5E7EB;
    text-decoration: none;
  }

a:hover {
    color: red;
}

.main {
    background-color: #1F2937;
    padding: 100px 90px;
    height: 400px;
    display: flex;
    flex: 1;
}

.title {
    color: #F9FAF8;
    flex-wrap: wrap;
    font-size: 24px;
    font-weight: bold;
    flex: 1 1 0;
    height: 30px;
    justify-items: space-evenly;
    display: flex;
}

button {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    border: none;
    border-radius: 4px;
    background: #3882F6;
    color: white;
    width: 80px;
    height: 20px;
  }

button:hover {
    color: #3882F6;
    background-color: white;
}

.subtext {
    font-size: 16px;
    font-weight: lighter;
    color: lightgray;
    padding-right: 40px;
}

.img {
    display: flex;
    flex: 1 1;
    height: 200px;
    background-color: gray;
    color: white;
    justify-content: center;
    align-items: center;
}

.information-header {
    font-size: 30px;
    text-align: center;
    padding-top: 48px
}

.information {
    background-color: white;
    padding-top: 32px;
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 5px;
}

.box {
    background-color: white;
    border: solid;
    border-color: #3882F6;
    padding: 50px;
    margin: 16px 16px 5px 16px;
    width: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 52px;
    max-width: 200px;
  }

.box:hover {
    background-color: red;
    border-color: black;
}

.subtext-container {
    background-color: white;
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 5px;
    margin-bottom: 48px;
}

.box-subtext {
    text-align: center;
    margin: 0 16px;
    width: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 52px;
    max-width: 200px;
}

.quote-container {
    padding-top: 70px;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.quote {
    font-size: 26px;
    font-style: italic;
    color: #1F2937;
    width: 550px;
}

.signature {
    background-color: #E5E7EB;
    display: flex;
    flex: 1;
    justify-content: end;
    padding-right: 145px;
    font-weight: bold;
    padding-bottom: 70px;
}

.cta-section {
    background-color: white;
    margin: 50px;
    display: flex;
}

.cta-container-left {
    background-color: #3882F6;
    color: white;
    flex: 3;
    padding: 50px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.cta-container-right {
    background-color: #3882F6;
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.buttons {

    border: solid;
    border-color: white;
}

.cta-header {
    font-size: 16px;
    font-weight: bold;
}

.cta-text {
    font-size: 13px;
}

.copyright {
    background-color: #1F2937;
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    padding: 15px;
}
