* {
    margin: 0;
    padding: 0;
}

body {

}

.header {
    background-color: #1F2937;
    padding: 20px 90px;
    height: 30px;
    display: flex;
    flex: 1;
    font-size: 24px;
    justify-content: space-evenly;
}

.logo {
    color: #F9FAF8;
    font-weight: bold;
    flex: 1 1 0;
    height: 30px;
}

ul.right-links {
    display: flex;
    flex: 1 1 0;
    color: white;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    font-size: 20px;

}

ul {
    list-style: none;
    gap: 16px
  }

  a {
    color: #E5E7EB;
    text-decoration: none;
  }